[Unit]
Description=resin-registry
Requires=confd.service
After=confd.service

Requires=nginx.service
Before=nginx.service

[Service]
WorkingDirectory=/usr/src/app
ExecStart=/usr/local/bin/docker-registry serve /etc/docker-registry.yml
Restart=always

[Install]
WantedBy=basic.target
