
services:

  # Run a simple registry pull-through cache for testing
  registry:
    image: sut
    environment:
      REGISTRY2_PROXY_ENABLED: true
      API_TOKENAUTH_JWKS: ewogICJrZXlzIjogWwogICAgewogICAgICAia3R5IjogIkVDIiwKICAgICAgIngiOiAieC1kdW1teS12YWx1ZSIsCiAgICAgICJ5IjogInktZHVtbXktdmFsdWUiLAogICAgICAiY3J2IjogIlAtMjU2IiwKICAgICAgInVzZSI6ICJzaWciLAogICAgICAiYWxnIjogIkVTMjU2IiwKICAgICAgImtpZCI6ICJraWQtZHVtbXktdmFsdWUiLAogICAgICAieDV0IjogIng1dC1kdW1teS12YWx1ZSIKICAgIH0KICBdCn0=
    tmpfs:
      - /data:exec

  docker:
    image: docker:29.2.1-dind
    privileged: true
    environment:
      DOCKER_TLS_CERTDIR: ""
    command: --insecure-registry=registry:80 --registry-mirror=http://registry:80 --tls=false --debug
    depends_on:
      - registry
    tmpfs:
      - /var/lib/docker:exec

  sut:
    image: docker:29.2.1
    environment:
      DOCKER_HOST: tcp://docker:2375
    entrypoint:
      - /bin/sh
      - -c
    command:
      - |
        apk add --no-cache curl
        count=1
        while ! docker info 2>/dev/null && [ "$${count}" -le 10 ]; do
          sleep 1
          count=$$((count + 1))
        done
        docker run --rm hello-world
        curl -v http://registry:80/v2/_catalog | grep hello-world
    depends_on:
      - docker
      - registry
