# Set env vars for AWS_* when launching - this config will refer to them.
# To specify prod flavor, set the environment variable SETTINGS_FLAVOR=prod

# example launching with this config, in a docker image:
# docker run -p 5000:5000 -e SETTINGS_FLAVOR=prod -e AWS_KEY=X -e AWS_SECRET=Y -e AWS_BUCKET=images registry-image

common:
    loglevel: warn

prod:
    loglevel: warn
    storage: s3
    boto_bucket: {{getv "/services/registry_s3_bucket" }}
    s3_access_key: {{getv "/services/registry_s3_access_key" }}
    s3_secret_key: {{getv "/services/registry_s3_secret_key" }}
    s3_bucket: {{getv "/services/registry_s3_bucket" }}
    s3_encrypt: false
    s3_secure: true
    secret_key: {{getv "/services/registry_secret_key" }}
    storage_path: /prod
    storage_redirect: true  # Redirect signed URL for image files
